.contenedor {
    display: inline-flex;
    /* Mantiene los elementos en la misma línea */
    align-items: center;
    /* Centra verticalmente los elementos */
    gap: 10px;
}

.recuadro {
    display: inline-block;
    /* Mantiene el recuadro en línea */
    border: 2px solid black;
    /* Borde negro */
    padding: 5px;
    /* Espaciado interno */
    background-color: #f0f0f0;
    /* Fondo claro */
    border-radius: 5px;
    /* Bordes redondeados */
}

.mi-label {
    width: 200px;
    display: inline-block;
    /* Esto asegura que el label respete el ancho */
}

body {
    zoom: 80%;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: center;
    /* Centra los recuadros horizontalmente */
    gap: 10px;
    /* Espacio entre los recuadros */
}

.box {
    width: 30%;
    height: 150px;
    border: 2px solid #333;
    /* Bordes del recuadro */
    border-radius: 10px;
}

.box2 {
    width: 30%;
    height: 150px;
    border: 2px solid #333;
    /* Bordes del recuadro */
    border-radius: 10px;
}

.resaltado {
    background-color: orange;
    /* Fondo amarillo para resaltar */
    font-weight: bold;
    /* Texto en negrita */
    padding: 5px;
    /* Espaciado dentro del elemento */
    border-radius: 5px;
    /* Bordes redondeados */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*height: 100vh;*/
    margin: 0;
    font-family: Arial, sans-serif;
}

label {
    margin-bottom: 10px;
}

textarea {
    display: block;
    margin-bottom: 10px;
}

.texare {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #eff3f7;
    color: white;
    border: none;
    border-radius: 5px;
}

.texare:hover {
    background-color: #a76b1d;
}

body {
    zoom: 80%;
    /* Establece el zoom al 80% */
}